*.egg-info
*.log
*.swp
*.swo
*.pickle
*.nc
*.hpp
*.DS_Store
birdman/templates/negative_binomial
birdman/templates/multinomial
birdman/templates/negative_binomial_single
birdman/templates/negative_binomial_lme
birdman/templates/negative_binomial_lme_single
tests/custom_model

*__pycache__/
/data
/build
docs/_build
tags
